body {
    background-color: rgb(107, 0, 0);
  }
.navigationBar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #410000;
    border: 1px solid #aa2761;
    margin-bottom: 50px;
}
.navigationBar li {
    float: left;
    border-right: 1px solid #aa2761;
}
.navigationBar li:last-child {
    border-right: none;
}
.navigationBar a {
    display: block;
    padding: 14px 40px;
    text-align: center;
    color:#d7d700;
    text-decoration: none;
    font-size: 35px;
}
.pageTitle {
    color: #d7d700;
    font-size: 45px;
}
.bioContainer {
    display: flex;
    flex-direction: column;
    margin: 100px;
}
.bio {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    color:#d7d700;
    text-align: center;
    font-size: 35px;
    white-space: nowrap;
}
.bio img{
    margin-left: auto;
    width: 25%;
    height: 25%;
}
.statement {
    margin-bottom: 100px;
    color:#d7d700;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
}
.characteristics {
    margin-bottom: 100px;
    color:#d7d700;
    font-size: 30px;
    white-space: nowrap;
}
.footer {
    color:#d7d700;
    font-size: 20px;
    white-space: nowrap;
}
.link {
    color:#FFA500;
    font-size: 20px;
    white-space: nowrap; 
}
.pitch{
    margin-bottom: 100px;
    color:#d7d700;
    font-size: 25px;
    white-space: nowrap;
}
.references{
    list-style-type: none;
    margin-bottom: 100px;
    color:#d7d700;
    font-size: 20px;
    white-space: nowrap;
}
.references li{
    margin-bottom: 50px;
}
.labs{
    display: flex;
    flex-direction: column;
    margin-top: none;
}
.labDisplay{
    width:850px;
    height: 90vh;
}
.labContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 20px;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttonGroup button{
    border:1px solid #aa2761;
    background-color: #410000;
    color:#d7d700;
    width: 300px;
    height: 60px;
    margin: 0 10px
}
.buttonGroup button:hover{
    background-color: #aa2761;
    border:1px solid #410000
}
.labTitle {
    color: #d7d700;
    font-size: 45px;
    margin: 0 140px;
}
.buttonGroup a {
    text-decoration: none;
}