body {
    background-color: rgb(107, 0, 0);
  }

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #d7d700;
    background-color: #410000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #aa2761;
}

.button:hover {
    background-color: #351660
}

.button:active {
    background-color: #5b4974;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}